JIRA_BOARD_URL=https://kadasoftware.atlassian.net/jira/software/c/projects/TESTQA/boards/88?label=Mar%C3%ADaCruz
JIRA_PROJECT_KEY=TESTQA
JIRA_ISSUE_KEY=
JIRA_COMMENT_TEMPLATE=templates/daily-comment.md
JIRA_AUTH_FILE=.auth/jira.json
JIRA_LOCALE=es-MX
JIRA_TIMEZONE=America/Mexico_City
JIRA_HEADED=false
JIRA_ALLOW_DUPLICATE=false
